body {
    background-color: ivory;
}

h4 {
    font-size: 24px;
}

#canvas {
    margin-top: 16px;
    border:3px solid rgb(67, 94, 247);
    width: 98vw;
    height: 60vh;
}

.button-wrapper{
    padding: 4px 4px;
    display: inline-block;
}

.button {
    background-color: #ffffff; 
    border: 1px solid #040404;
    color: rgb(4, 4, 4);
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.prompt{
    width: 98vw;
    font-size: 16px;
    text-align: center;
}